body {
    padding-top: 256px;
    padding-bottom: 64px;
    
    .hidden {
        display: none;
    }
    
    .navbar-fixed-top {
        border-bottom: .2rem solid #CCC;
        padding: 1rem;
        background-color: #EEE;
    }
    
    .navbar-fixed-bottom {
        border-top: .2rem solid #CCC;
        padding: 1rem;
        background-color: #EEE;
        
        textarea {
            height: 56px;
        }
    }
    
    #transcriptlist {
        .part {
            padding: 20px;
            margin: 20px 0;
            border: 1px solid #EEE;
            border-left-width: 5px;
            border-radius: 3px;
            
            textarea.justreadme {
                background-color: transparent;
                border-color: transparent;
                box-shadow: none;
            }
        }
    }
}

#audiocontrol {
    .zoomslider {
        width: 100%;
    }
}